In [1]:
import pandas as pd
import numpy as ny

In [2]:
data_work = pd.read_csv('./data_clean2.csv',encoding = 'gbk')

In [3]:
data_work.head(10)

   builiding flood room       date  consumption
0         14    一层  101  2021/3/22         9.60
1         14    一层  101  2021/3/21         4.95
2         14    一层  101  2021/3/20         4.85
3         14    一层  101  2021/3/19         4.25
4         14    一层  101  2021/3/18         2.95
5         14    一层  101  2021/3/17         6.95
6         14    一层  101  2021/3/16         5.95
7         14    一层  101  2021/3/15         4.60
8         14    一层  101  2021/3/14         9.45
9         14    一层  101  2021/3/13     10506.55

In [4]:
data_work.dropna()

       builiding flood room       date  consumption
0             14    一层  101  2021/3/22         9.60
1             14    一层  101  2021/3/21         4.95
2             14    一层  101  2021/3/20         4.85
3             14    一层  101  2021/3/19         4.25
4             14    一层  101  2021/3/18         2.95
5             14    一层  101  2021/3/17         6.95
6             14    一层  101  2021/3/16         5.95
7             14    一层  101  2021/3/15         4.60
8             14    一层  101  2021/3/14         9.45
9             14    一层  101  2021/3/13     10506.55
10            14    一层  101  2021/3/12         4.85
11            14    一层  101  2021/3/11         3.70
12            14    一层  101  2021/3/10         4.20
13            14    一层  101   2021/3/9         9.65
14            14    一层  101   2021/3/8         5.95
15            14    一层  101   2021/3/7         6.65
16            14    一层  101   2021/3/6         4.45
17            14    一层  101   2021/3/5         7.05
18            14    一层  101   2021/3/4         2.85
19            14    一层  101   2021/3/3     10452.25
20            14    一层  101   2021/3/2         6.85
21            14    一层  101   2021/3/1         8.30
22            14    一层  103  2021/3/22         2.40
23            14    一层  103  2021/3/21         5.20
24            14    一层  103  2021/3/20         2.15
25            14    一层  103  2021/3/19         7.10
26            14    一层  103  2021/3/18         0.45
27            14    一层  103  2021/3/17         5.80
28            14    一层  103  2021/3/16         2.55
29            14    一层  103  2021/3/15         9.40
...          ...   ...  ...        ...          ...
13806         15    七层  747   2021/3/8        15.10
13807         15    七层  747   2021/3/7         6.85
13808         15    七层  747   2021/3/6        11.55
13809         15    七层  747   2021/3/5         9.50
13810         15    七层  747   2021/3/4        11.95
13811         15    七层  747   2021/3/3      5722.20
13812         15    七层  747   2021/3/2         2.70
13813         15    七层  747   2021/3/1         5.05
13814         15    七层  749  2021/3/22         6.10
13815         15    七层  749  2021/3/21         0.70
13816         15    七层  749  2021/3/20         7.35
13817         15    七层  749  2021/3/19         6.30
13818         15    七层  749  2021/3/18         4.20
13819         15    七层  749  2021/3/17         9.00
13820         15    七层  749  2021/3/16         0.65
13821         15    七层  749  2021/3/15         8.10
13822         15    七层  749  2021/3/14         4.50
13823         15    七层  749  2021/3/13    -11036.50
13824         15    七层  749  2021/3/12         9.85
13825         15    七层  749  2021/3/11         2.40
13826         15    七层  749  2021/3/10         9.20
13827         15    七层  749   2021/3/9         5.00
13828         15    七层  749   2021/3/8         9.20
13829         15    七层  749   2021/3/7         6.40
13830         15    七层  749   2021/3/6         6.15
13831         15    七层  749   2021/3/5         0.60
13832         15    七层  749   2021/3/4         6.50
13833         15    七层  749   2021/3/3    -11092.40
13834         15    七层  749   2021/3/2         0.45
13835         15    七层  749   2021/3/1         6.10

[13836 rows x 5 columns]

In [5]:
new_work = data_work.duplicated()

In [6]:
new_work.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [6]:
new_work = data_work.drop_duplicates()

In [7]:
new_work.describe()

          builiding   consumption
count  13836.000000  13836.000000
mean      14.526164    481.943169
std        0.499333   2742.657934
min       14.000000 -16377.900000
25%       14.000000      3.400000
50%       15.000000      5.950000
75%       15.000000      9.300000
max       15.000000  16377.100000

In [9]:
new_work = new_work[new_work['consumption']<40]

In [10]:
new_work.describe()

          builiding   consumption
count  12735.000000  12735.000000
mean      14.531056   -119.668682
std        0.499054   1178.111622
min       14.000000 -16377.900000
25%       14.000000      3.150000
50%       15.000000      5.500000
75%       15.000000      8.250000
max       15.000000     30.600000

In [12]:
new_work = new_work[new_work['consumption']>=0]

In [13]:
new_work.describe()

          builiding   consumption
count  12585.000000  12585.000000
mean      14.525864      6.028832
std        0.499350      4.259444
min       14.000000      0.000000
25%       14.000000      3.250000
50%       15.000000      5.600000
75%       15.000000      8.300000
max       15.000000     30.600000

In [14]:
new_work.to_csv('./data_clean4.csv',encoding = 'gbk')

In [15]:
new_data = pd.read_csv('./data_clean4.csv',encoding = 'gbk')

In [13]:
new_data.describe()

         consumption
count  228874.000000
mean        3.121329
std         4.718020
min         0.000000
25%         0.000000
50%         0.500000
75%         4.900000
max        99.000000

In [14]:
new_data.head(10)

  builiding flood room       date  consumption
0        14    一层  101  2021/3/12         4.85
1        14    一层  101  2021/3/11         3.70
2        14    一层  101  2021/3/10         4.20
3        14    一层  101   2021/3/9         9.65
4        14    一层  101   2021/3/8         5.95
5        14    一层  101   2021/3/7         6.65
6        14    一层  101   2021/3/6         4.45
7        14    一层  101   2021/3/5         7.05
8        14    一层  101   2021/3/4         2.85
9        14    一层  101   2021/3/2         6.85

In [15]:
new_data = new_data[new_data['consumption']<40]

In [16]:
new_data.count()

builiding      228759
flood          228759
room           228759
date           228759
consumption    228759
dtype: int64

In [17]:
data_clean3 = new_data[new_data['consumption']>=0]

In [18]:
data_clean3.describe()

         consumption
count  228759.000000
mean        3.091517
std         4.502168
min         0.000000
25%         0.000000
50%         0.500000
75%         4.900000
max        39.650000

In [19]:
data_clean3.to_csv('./data_clean3.csv',encoding = 'gbk')

In [25]:
my_data = pd.read_csv('./data_clean3.csv',encoding = 'gbk')

In [26]:
my_data.tail()

       Unnamed: 0  buiding floor room        date  consumption
81937       81937     15.0     6  608  2020/11/11         0.05
81938       81938     15.0     6  608   2020/10/3         0.05
81939       81939     15.0     6  608   2020/9/30         0.05
81940       81940     15.0     6  608   2020/9/20         0.05
81941       81941     15.0     6  615    2020/6/4         0.05

In [27]:
my_data

       Unnamed: 0  buiding floor room        date  consumption
0               0     15.0     4  428   2020/9/25        35.15
1               1     15.0     4  445  2020/12/10        35.15
2               2     14.0     7  717  2020/12/10        35.05
3               3     14.0     5  526  2020/12/10        34.90
4               4     14.0     5  514   2020/9/11        34.80
5               5     15.0     2  228   2020/1/14        34.80
6               6     14.0     6  630   2020/8/26        34.75
7               7     14.0     5  531  2020/10/15        34.70
8               8     14.0     2  204   2020/1/20        34.55
9               9     14.0     5  516  2020/12/10        34.30
10             10     14.0     7  731   2020/11/4        34.10
11             11     14.0     3  305  2020/12/10        33.85
12             12     14.0     6  618   2020/9/14        33.65
13             13     14.0     2  225  2020/12/10        33.60
14             14     14.0     2  204    2020/2/7        33.40
15             15     14.0     6  632   2020/8/26        33.30
16             16     14.0     1  105    2020/1/2        33.05
17             17     14.0     4  446    2020/1/2        33.05
18             18     14.0     5  525    2020/1/2        33.05
19             19     14.0     6  629    2020/1/2        33.05
20             20     15.0     2  224    2020/1/2        33.05
21             21     15.0     5  516  2020/12/10        32.95
22             22     14.0     7  724   2020/8/26        32.90
23             23     15.0     4  441  2020/12/10        32.75
24             24     14.0     6  639   2020/8/26        32.65
25             25     14.0     6  609   2020/9/11        32.15
26             26     14.0     2  245  2020/10/25        32.01
27             27     15.0     2  224    2020/1/6        31.95
28             28     14.0     6  629    2020/1/6        31.85
29             29     14.0     6  622   2020/12/7        31.80
...           ...      ...   ...  ...         ...          ...
81912       81912     15.0     6  640   2020/3/21         0.05
81913       81913     15.0     6  640    2020/3/9         0.05
81914       81914     15.0     6  640   2020/2/25         0.05
81915       81915     15.0     6  640   2020/2/10         0.05
81916       81916     15.0     6  640   2020/1/25         0.05
81917       81917     15.0     6  612   2020/8/24         0.05
81918       81918     15.0     6  612   2020/8/23         0.05
81919       81919     15.0     6  614    2020/8/7         0.05
81920       81920     15.0     6  614   2020/1/12         0.05
81921       81921     15.0     6  614    2020/1/8         0.05
81922       81922     15.0     6  614    2020/1/7         0.05
81923       81923     15.0     6  633   2020/12/9         0.05
81924       81924     15.0     6  633    2020/8/8         0.05
81925       81925     15.0     6  635   2020/8/22         0.05
81926       81926     15.0     6  635   2020/6/28         0.05
81927       81927     15.0     6  636   2020/8/16         0.05
81928       81928     15.0     6  636   2020/8/13         0.05
81929       81929     15.0     6  636   2020/8/11         0.05
81930       81930     15.0     6  636    2020/6/9         0.05
81931       81931     15.0     6  638   2020/6/17         0.05
81932       81932     15.0     6  605   2020/1/20         0.05
81933       81933     15.0     6  607   2020/7/21         0.05
81934       81934     15.0     6  607   2020/5/28         0.05
81935       81935     15.0     6  606   2020/11/2         0.05
81936       81936     15.0     6  606   2020/10/8         0.05
81937       81937     15.0     6  608  2020/11/11         0.05
81938       81938     15.0     6  608   2020/10/3         0.05
81939       81939     15.0     6  608   2020/9/30         0.05
81940       81940     15.0     6  608   2020/9/20         0.05
81941       81941     15.0     6  615    2020/6/4         0.05

[81942 rows x 6 columns]

In [28]:
#日期编辑
date_data = pd.to_datetime(my_data['date'], format='%Y-%m-%d')

In [29]:
date_data

0       2020-09-25
1       2020-12-10
2       2020-12-10
3       2020-12-10
4       2020-09-11
5       2020-01-14
6       2020-08-26
7       2020-10-15
8       2020-01-20
9       2020-12-10
10      2020-11-04
11      2020-12-10
12      2020-09-14
13      2020-12-10
14      2020-02-07
15      2020-08-26
16      2020-01-02
17      2020-01-02
18      2020-01-02
19      2020-01-02
20      2020-01-02
21      2020-12-10
22      2020-08-26
23      2020-12-10
24      2020-08-26
25      2020-09-11
26      2020-10-25
27      2020-01-06
28      2020-01-06
29      2020-12-07
           ...
81912   2020-03-21
81913   2020-03-09
81914   2020-02-25
81915   2020-02-10
81916   2020-01-25
81917   2020-08-24
81918   2020-08-23
81919   2020-08-07
81920   2020-01-12
81921   2020-01-08
81922   2020-01-07
81923   2020-12-09
81924   2020-08-08
81925   2020-08-22
81926   2020-06-28
81927   2020-08-16
81928   2020-08-13
81929   2020-08-11
81930   2020-06-09
81931   2020-06-17
81932   2020-01-20
81933   2020-07-21
81934   2020-05-28
81935   2020-11-02
81936   2020-10-08
81937   2020-11-11
81938   2020-10-03
81939   2020-09-30
81940   2020-09-20
81941   2020-06-04
Name: date, Length: 81942, dtype: datetime64[ns]

In [30]:
month_data = date_data.dt.month

In [31]:
month_data

0         9
1        12
2        12
3        12
4         9
5         1
6         8
7        10
8         1
9        12
10       11
11       12
12        9
13       12
14        2
15        8
16        1
17        1
18        1
19        1
20        1
21       12
22        8
23       12
24        8
25        9
26       10
27        1
28        1
29       12
         ..
81912     3
81913     3
81914     2
81915     2
81916     1
81917     8
81918     8
81919     8
81920     1
81921     1
81922     1
81923    12
81924     8
81925     8
81926     6
81927     8
81928     8
81929     8
81930     6
81931     6
81932     1
81933     7
81934     5
81935    11
81936    10
81937    11
81938    10
81939     9
81940     9
81941     6
Name: date, Length: 81942, dtype: int64

In [32]:
year_data = date_data.dt.year

In [33]:
year_data.describe()

count    81942.000000
mean      2019.940226
std          0.237275
min       2019.000000
25%       2020.000000
50%       2020.000000
75%       2020.000000
max       2021.000000
Name: date, dtype: float64

In [34]:
my_data['month'] = month_data

In [35]:
my_data['year'] = year_data

In [36]:
day_data = date_data.dt.day

In [37]:
day.describe()

NameError: name 'day' is not defined

In [38]:
my_data['day'] = day_data

In [52]:
date_data1 = date_data.dt.date

In [53]:
my_data['date_only'] = date_data1

In [54]:
my_data.head()

,Unnamed: 0,buiding,floor,room,date,consumption,month,year,day,date_only
0,0,15.0,4,428,2020/9/25,35.15,9,2020,25,2020-09-25
1,1,15.0,4,445,2020/12/10,35.15,12,2020,10,2020-12-10
2,2,14.0,7,717,2020/12/10,35.05,12,2020,10,2020-12-10
3,3,14.0,5,526,2020/12/10,34.90,12,2020,10,2020-12-10
4,4,14.0,5,514,2020/9/11,34.80,9,2020,11,2020-09-11

In [55]:
my_data.dtypes

Unnamed: 0       int64
buiding        float64
floor           object
room            object
date            object
consumption    float64
month            int64
year             int64
day              int64
date_only       object
dtype: object

In [56]:
my_data.to_csv('./data_clean4.csv',encoding = 'gbk')